name: fetcher-baidu-hot-search

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch-baidu-hot-search:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: "./Fetchers/CN/"
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run fetcher
        working-directory: "./Fetchers/CN/"
        run: |
          python ./fetcher-baidu-hot-search-v2.py

      - name: Commit report
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git stash
          git checkout fetch=baidu-hot-search
          git stash pop
          git commit -am "fetched from '百度热搜'"
          git push -u origin fetch=baidu-hot-search
